---
import Layout from "@layouts/Layout.astro";
---

<Layout title="About Page">
  <div
    class="mt-24 flex items-center flex-col justify-items-center container mx-auto gap-5"
  >
    <h1 class="text-4xl text-center text-blue-800">About Page</h1>

    <div class="w-1/2 flex justify-center flex-col items-center gap-5">
      <p class="text-center text-wrap text-balance text-gray-500">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat
        quaerat officia delectus et voluptate, est obcaecati eius dolor neque,
        ducimus officiis iste a tempora quam sit commodi? Nostrum, error non.
      </p>

      <img  class="inline-block size-56 rounded-full ring-2 ring-white" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlOLBRK-3wEFFeCojWlHou4nooggl5iI2PJQ&s" alt="" />
    </div>
  </div>
</Layout>

<style></style>
