---
import Layout from '../layouts/Layout.astro';

import UserCard from '../components/UserCard.astro';
import { getCharacters } from 'src/services/characters';


const data = await getCharacters();



export const prerender = true


---

<Layout title="Home">
	<section class="grid grid-cols-2 md:grid-cols-3 gap-4 p-4 w-full mx-auto">
		{data?.map((user:any) => (
			<UserCard user={user}/>
		))}


		
	</section>
	
	
	

</Layout>
